In [131]:
# list is mutable


l1 = [1,33,44,11,55]
print(id(l1))
print(l1)

l2 = l1                                           # Alicing 
l2[0] = 77

print(l1)
print(l2)

2296006428672
[1, 33, 44, 11, 55]
[77, 33, 44, 11, 55]
[77, 33, 44, 11, 55]

In [132]:
l1 = [1,33,44,11,55]
l2 = l1.copy() #  OR l2 = l1[:]                   # Copy Method

print(id(l1))
print(id(l2))
l2[0] = 77

print(l1)
print(l2)

2296006374848
2296006374912
[1, 33, 44, 11, 55]
[77, 33, 44, 11, 55]

In [133]:
l1 = [1,33,44,11,55]
l2 = l1[:]                                        # By using slice operator

print(id(l1))
print(id(l2))
l2[0] = 77

print(l1)
print(l2)

2295991315712
2295991355712
[1, 33, 44, 11, 55]
[77, 33, 44, 11, 55]

In [134]:
x = [[1,2,3],[4,5,6]]                             # Nested list
y = x.copy()
print(x)
print(y)

[[1, 2, 3], [4, 5, 6]]
[[1, 2, 3], [4, 5, 6]]

In [135]:
#       0       1
x = [[1,2,3],[4,5,6]]
print(x[1][0])
print(x[1][1])
print(x[0][2])

4
5
3

In [136]:
x = [[1,2,3],[4,5,6]]                             # Nested list
print(x[1][0])

y = x.copy()

print(id(x))
print(id(y))

x[0][0]=7

print(x)
print(y)

4
2296006367232
2295991807232
[[7, 2, 3], [4, 5, 6]]
[[7, 2, 3], [4, 5, 6]]

In [137]:
x = [[1,2,3],[4,5,6]]                              # Nested list
y = x.copy()

x[0][0]=77

print("x:",x)
print("y:",y)

x: [[77, 2, 3], [4, 5, 6]]
y: [[77, 2, 3], [4, 5, 6]]

In [138]:
import copy

x=[[10,20],[30,40]]
y = copy.deepcopy(x)                               # make independent object

x[0][0]=77

print("x:",x)
print("y:",y)

x: [[77, 20], [30, 40]]
y: [[10, 20], [30, 40]]

In [139]:
a = [10,20,30]
b = [40,20,60]
c = a + b
print(c)

[10, 20, 30, 40, 20, 60]

In [140]:
a = [10,20,30]
c = a * 3
print(c)

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [141]:
x = ["Dog","Cat","Rat"]
y = ["Dog","Cat","Rat"]
z = ["DOG","CAT","RAT"]
print(x == y)
print(x == z)
print(x != z)
print(x >= y)
print(x <= y)
print(x > y)

True
False
True
True
True
False

In [142]:
x = ["Dog","Cat","Rat"]                    # ASCII(D) = 68
y = ["Rat","Cat","Dog"]                    # ASCII(R) = 82
print(y>x)

True

In [143]:
x = ["Dog","Cat","Rat"]                   # ASCII(o) = 111
y = ["Dat","Cat","Dog"]                   # ASCII(a) = 97
print(y>x)

False

In [144]:
x = [10,20,30]
y = [40,50,60,70,100]
print(x == y)
print(x != y)
print(x >= y)
print(x <= y)
print(x > y)

False
True
False
True
False

In [145]:
y = [40,50,60,70]
print(40 in y)
print(50 not in y)

True
False

In [146]:
y = [[40,50],[60,70]]
y[0][1]

50

In [147]:
n = [[10,20,30],[40,50,60],[70,80,90]]
print(n)
print("Elements by Row Wise:")
for r in n:
    print(r)

[[10, 20, 30], [40, 50, 60], [70, 80, 90]]
Elements by Row Wise:
[10, 20, 30]
[40, 50, 60]
[70, 80, 90]

In [148]:
# Nested list as Matrix
n = [[1,2,3],[4,5,6],[7,8,9]]
for r in n:
    for i in r:
        print(i , end ="  ")
    print()

1  2  3
4  5  6
7  8  9

In [149]:
# List comprehension
# Syntax:  l1 = [Expression for item in list if condition ]

l = [x for x in range(1,11)]  
print(l)

l = [x for x in range(1,11) if x%2 == 0]                        # Even numbers
print(l) 

l = [x**2 for x in range(1,11) if x%2 == 0]                     # square of even numbers
print(l) 

l = [x**2 for x in range(1,11)]  
print(l)

l = [2**x for x in range(1,6)]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]
[4, 16, 36, 64, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[2, 4, 8, 16, 32]

In [150]:
s = [2,4,5,6,7,78,75,44,34,45,46,48,55]
m = [x for x in s if x%2==0]
print(m)

[2, 4, 6, 78, 44, 34, 46, 48]

In [151]:
words = ['Shahrukh','Salman','Aamir','Varun','Siddharth','Ranbir']
l = [w[0] for w in words]                         # if w == "Shahrukh"
print(l)

['S', 'S', 'A', 'V', 'S', 'R']

In [152]:
l1 = [ x for x in range(7,100) if x%2!=0]               # Odd Numbers
print(l1)

[7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [153]:
l1 = [ x for x in range(99,6,-1) if x%2!=0]
print(l1)

[99, 97, 95, 93, 91, 89, 87, 85, 83, 81, 79, 77, 75, 73, 71, 69, 67, 65, 63, 61, 59, 57, 55, 53, 51, 49, 47, 45, 43, 41, 39, 37, 35, 33, 31, 29, 27, 25, 23, 21, 19, 17, 15, 13, 11, 9, 7]

In [154]:
l1 = [ x for x in range(99,6,-1) if x%2==0]
print(l1)

[98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8]

In [156]:
# Identifing vowels in the words

w = input("Enter a Word : ")
v = "aeiouAEIOU"
u = []
for c in w:
    if c in v and c not in u:
        u.append(c)
print("Unique Vowels : ", u)

Enter a Word :  nikhil

Unique Vowels :  ['i']

In [157]:
# Tuples are immutable.
# Read only version of a list.
# Duplicates are allowed.
# Tuples are created using round bracket ()

In [158]:
import sys
t = (3,4,5,6)
t1 = [3,4,5,6]
print("Tuple Memory Size : ",sys.getsizeof(t))
print("List Memory Size : ",sys.getsizeof(t1))

Tuple Memory Size :  72
List Memory Size :  88

In [159]:
x = [2,3,4,5]
y = [2,3,4,5]
print(id(x),"  ",id(y))         # id(x) = 2295969135232   And   id(y) = 2295969038016

a = (2,3,4,5)
b = (2,3,4,5)
print(id(a),"  ",id(b))        # id(a) = 2295991472496    And   id(b) = 2295991471056

2295991065920    2295969168512
2296006423344    2295991472976

In [160]:
b = (2,3,4,5,6,7,8,9,0)
print(b[2:5])
print(b[:2])
print(type(b))                # <class 'tuple'>

b = 2,3,4,5                   # Paranthesis is optional
print(type(b))                # <class 'tuple'>

(4, 5, 6)
(2, 3)
<class 'tuple'>
<class 'tuple'>

In [161]:
x = (9)
print(type(x))

<class 'int'>

In [162]:
z = ()
print(type(z))

<class 'tuple'>

In [163]:
b = (2,30,4,40,60,20,90,50,0)
print(len(b))
print(b.count(2))

9
1

In [164]:
b = (2,30,4,40,60,20,90,50,0)
c = sorted(b)
print(c)

[0, 2, 4, 20, 30, 40, 50, 60, 90]

In [165]:
b = (2,30,4,40,60,20,90,50,0)
c = sorted(b, reverse=True)
print(c)

[90, 60, 50, 40, 30, 20, 4, 2, 0]

In [166]:
b = (2,30,4,40,60,20,90,50,1)
print(max(b))
print(min(b))

90
1

In [167]:
# Tuple Packing
a = 10
b = 20
c = 30 
d = 40
t = a,b,c,d
print(t)
print(type(t))

(10, 20, 30, 40)
<class 'tuple'>

In [168]:
# Tuple Unpacking
t = (10,20,30,40)
a,b,c,d= t
print("a =",a,"  ","b =",b,"  ","c =",c,"  ","d =",d)

a = 10    b = 20    c = 30    d = 40

In [169]:
# Tuple Comprehension
t = (x**2 for x in range(1,6))
print(t)

for x in t:
    print(x)

<generator object <genexpr> at 0x0000021694A4B030>
1
4
9
16
25

In [46]:
# Set And Dictionary
# Set
# 1. Duplicates are not allowed
# 2. Heterogeneous elements are allowed.

In [48]:
s= {1,2,3,4}
print(s)

{1, 2, 3, 4}

In [50]:
s = {90,20,30,40}
s.add(10)
print(s)

{40, 10, 20, 90, 30}

In [6]:
s= {1,2,3,4}
s1 = s.copy()
print(s1)

{1, 2, 3, 4}

In [8]:
s= {1,2,3,4}
print(id(s))

1994856529984

In [16]:
s = {12,23,34,54}
print(s.pop())
print(s)

34
{12, 54, 23}

In [21]:
s = {12,23,34,54}
print(s.remove(54))                # Discard method shows error if new element is removed.
print(s)

None
{34, 12, 23}

In [20]:
s = {12,23,34,54}
print(s.discard(53))               # Discard method does not shows error if new element is removed.
print(s)

None
{34, 12, 54, 23}

In [25]:
s = {12,23,34,54} 
s.clear()
print(s)

set()

In [42]:
# Union
x = {10,20,30,40}
y = {30,45,46,60}
x.union(y)
print(x | y )

{40, 10, 45, 46, 20, 60, 30}

In [43]:
# Intersection
x = {10,20,30,40}
y = {30,10,46,60}
x.intersection(y)
print(x & y )

{10, 30}

In [44]:
# Difference
x = {10,20,30,40}
y = {30,10,46,60}
x.difference(y)                                   # Discard elements from y
print(x - y)

{40, 20}

In [45]:
# Symmetric difference
x = {10,20,30,40}
y = {30,10,46,60}
x.symmetric_difference(y)
print(x ^ y)

{40, 46, 20, 60}

In [53]:
# Set Comprehension
s = {x*x for x in range(5)}
print(s)

{0, 1, 4, 9, 16}

In [58]:
s = {x*x for x in range(5) if x >= 2}
print(s)

{16, 9, 4}