In [13]:
l = [ int(x) for x in input('Enter Values:').split()]
print(l)

Enter Values: 2 3 4 5

[2, 3, 4, 5]

In [12]:
l=[float(x)for x in input('Enter Values:').split(',')]
print(l)

Enter Values: 2,3,4

[2.0, 3.0, 4.0]

In [15]:
l=[int(x)for x in input('Enter Values:').split(',')]
print(l)
sum=0
for y in l:
    sum=sum+y
print(sum)

Enter Values: 2,3,2

[2, 3, 2]
7

In [14]:
x,y,z=[int(x) for x in input('Enter 3 Values:').split()]         # if we write ',' in split function then when we enter a values we have to do with ','
print(x)
print(x+y+z)

Enter 3 Values: 2 3 5

2
10

In [16]:
print('Hello')
print('')
print('Hi')

Hello

Hi

In [17]:
print('ABCD\nEFGHI\nJKLMN')               # \n next line
print('Welcome\nto\npython\ntraining')

ABCD
EFGHI
JKLMN
Welcome
to
python
training

In [18]:
print('Ram'*3)
print('Nag'+'pur')
print(3*'Nag'+'pur')
print(2**3)

RamRamRam
Nagpur
NagNagNagpur
8

In [20]:
print('engg'+'college')                   # Concatenates two strings
print('engg','college')                   # Prints with space seprator by default
print('engg'+''+'college')                # Concatenates with empty string
print('engg'+'  '+'college')              # Concatenates with space

enggcollege
engg college
enggcollege
engg  college

In [26]:
name = 'ramesh'
f = 'neha'
print('hello',name, 'My friend name is',f,'She is good human being')

hello ramesh My friend name is neha She is good human being

In [34]:
a,b,c =10,20,30
print('values are',a,b,c)
print(a,b,c,sep='-')
a,b,c=70,40,50
print(a,b,c,sep='*')                   # Star 
a,b,c=80,90,100
print(a,b,c,sep='')  
a,b,c=16,10,2004
print(a,b,c,sep='/')  
a,b,c=80,90,100
print(a,b,c,sep='  ')

values are 10 20 30
10-20-30
70*40*50
8090100
16/10/2004
80  90  100

In [38]:
print("Hello")
print("World")

Hello
World

In [39]:
print("Hello",end=' ')
print("World")

Hello World

In [42]:
print("Hello",end='')
print("World")
print('India')

HelloWorld
India

In [44]:
for i in range(1,13):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12

In [54]:
for i in range(1,13):
    print(i,end=' ')             #1 2 3 4 5 6 7 8 9 10 11 12

1 2 3 4 5 6 7 8 9 10 11 12

In [53]:
for i in range(1,13):
    print(i,end='')              #123456789101112

123456789101112

In [52]:
for i in range(0,12):
    print(i,end=' | ')

0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 |

In [60]:
print("Python","java","C++",sep=' | ',end=' <End>\n')
print("Red","Green","Blue",sep=' - ',end=' <<< End of line\n')
print("Next Line Starts here")

Python | java | C++ <End>
Red - Green - Blue <<< End of line
Next Line Starts here

In [61]:
colors = ["Red","Green","Blue"]
for i,color in enumerate(colors):
    print(i,color,sep=": ",end=" | ")

0: Red | 1: Green | 2: Blue |

In [62]:
age=25
print("I am %d years old."% age)

I am 25 years old.

In [63]:
name = 'ram'
age = 28
salary = 59000.2656153
print('my name is %s my age is %d my salary is %.4f'%(name,age,salary))

my name is ram my age is 28 my salary is 59000.2656

In [64]:
pi=3.14159265
print("Value of pi:%.2f" %pi)

Value of pi:3.14

In [66]:
print("Name: %10s" % "Ram")
print("Name: %-10s!"% "Ram")

Name:        Ram
Name: Ram       !

In [75]:
name='Neha'
age='24'
print('Name:{}, Age:{}'.format(name,age))

print('First Value{0}, Second value {1}'.format('Ram','Anant'))
print('Name {},Age {}'.format('Nilesh',28))

print("Name: {n},Age: {a}".format(n="neha",a=30))

pi=3.14159265
print("Value of pi: {:.2f}".format(pi))

Name:Neha, Age:24
First ValueRam, Second value Anant
Name Nilesh,Age 28
Name: neha,Age: 30
Value of pi: 3.14

In [76]:
name="Ramesh"
print(f"Hello,{name}")
name="Vaibhav"
age=24
print(f"My name is {name} and i am {age} years old.")

Hello,Ramesh
My name is Vaibhav and i am 24 years old.

In [87]:
a = 10
b = 20
print(f"the sum of {a} and {b} is {a + b}")
pi = 3.14159265
print(f"Value of pi upto 2 decimal places : {pi:.2f}")

the sum of 10 and 20 is 30
Value of pi upto 2 decimal places : 3.14

In [86]:
m = 'Good day'
print(f'See Right {m:>20}')                #m:>20    ----> Right Spaces
print(f'See Left {m:<20}')                 #m:<20    ----> Left Spaces
print(f'See Middle {m:^10}')               #m:^10     ----> Middle

See Right             Good day
See Left Good day
See Middle  Good day

In [ ]:
Arithmetic Operators

In [11]:
a=10
b=5
print("Arithmetic Operators:")
print("a+b=",a+b)         # Addition
print("a-b=",a-b)         # Substraction
print("a*b=",a*b)         # Multiplication
print("a/b=",a/b)         # Division
print("a**b=",a**b)       # Power
print("a%b=",a%b) 
print("a//b=",a//b)       # Floor Division

Arithmetic Operators:
a+b= 15
a-b= 5
a*b= 50
a/b= 2.0
a**b= 100000
a%b= 0
a//b= 2

In [31]:
a=10
b=3
print("Relational Operators:")
print("a==b :",a==b)         
print("a!=b :",a!=b)        
print("a>b :",a>b)         
print("a<b :",a<b)         
print("a>=b :",a>=b)       
print("a<=b :",a<=b)

Relational Operators:
a==b : False
a!=b : True
a>b : True
a<b : False
a>=b : True
a<=b : False

In [ ]:
x= True
y= False
print("Logical operators:")
print("")

In [26]:
a=10
b=3
print("BITWISE OPERATORS:")
print("a&b :",a&b)    # Bitwise AND ->0010
print("a|b :",a|b)    # Bitwise OR ->1011     
print("a^b :",a^b)    # Bitwise XOR ->1001
print("~a :",~a)      # Bitwise NOT ->  -(a+1) = -11
print("~b :",~b) 
print(10<<1)      # (Left Shift) 10*(2**1)=20    a*(2**n)
print(2<<4)       # (Left Shift) 2*(2**4)
print(10>>1)      # (Right Shift) 10 // 2 = 5               a // (2**b)
print(10>>3)      # (Right Shift) 10 // 2 = 5               a // (2**b)
print(5<<3)       # (Left Shift) 5<<3 ==> 5*(2**3)

BITWISE OPERATORS:
a&b : 2
a|b : 11
a^b : 9
~a : -11
~b : -4
20
32
5
1
40

In [30]:
print("ASSIGNMENT OPERTORS")
c=5
c+=2
print("c+=2:",c)
c*=3
print("c*=2:",c)
c-=4
print("c-=2:",c)
c/=2
print("c/=2:",c)

ASSIGNMENT OPERTORS
c+=2: 7
c*=2: 21
c-=2: 17
c/=2: 8.5

In [69]:
# IDENTITY OPERATOR
a=10
b=10
print("a is b:", a is b)              # is checks memory location
print("a is not b:", a is not b)      #

a is b: True
a is not b: False

In [58]:
x=10
print(id(x))
y=10
print(id(y))
print(x is y)

140727403219672
140727403219672
True

In [59]:
x=10
print(id(x))
z=20
print(id(z))
print(x is z)

140727403219672
140727403219992
False

In [51]:
l1=[1,2,3]   
l2=[1,2,3]
print(l1 is l2)
print('Memory Location of l1 list',id(l1))
print('Memory Location of l2 list',id(l2))

False
Memory Location of l1 list 1440583083520
Memory Location of l2 list 1440583092544

In [52]:
x = [1,2]
y = [1,2]
print("x is y:", x is y) 
x = [1,2]
y = x
print("x is y:", x is y)

x is y: False

In [57]:
print("Memborship Operators")
list = [1,3,4,10]
print("10 in list:",10 in list)
print("5 not in list:",5 not in list)

Memborship Operators
10 in list: True
5 not in list: True

In [ ]:
print(ord('A'))           # 65
print(ord('a'))            # 97
print(chr(97))            # 97

In [70]:
l=[2,3,5,8,9]
for x in l:
    if x%2==0:
        print(f'{x} is Even number')
    else:
        print(f'{x} is Odd number')

2 is Even number
3 is Odd number
5 is Odd number
8 is Even number
9 is Odd number