In [1]:
x = int(input('Enter 1st no:'))
y = int(input('Enter 2nd no:'))
print(x+y)

Enter 1st no: 3
Enter 2nd no: 5

8

In [3]:
x = float(input("Enter 1st number:"))
y = float(input("Enter 2nd number:"))
print(x+y)

Enter 1st number: 2.5
Enter 2nd number: .25

2.75

In [1]:
a = 10
print(id(a))

b = 82
print(id(b))

c = 9
print(id(c))

a = 11.5
print(id(a))

140727799035080
140727799037384
140727799035048
2457661837936

In [7]:
print( True + True )                     # True = 1         False = 0
print( True + False )                     # True = 1         False = 0
print( False + True )                     # True = 1         False = 0
print( False + False )                     # True = 1         False = 0

2
1
1
0

In [9]:
S = 'engg'
print(type(S))

S2 = 3
print(type(S2))

S3 = 2.5
print(type(S3))

<class 'str'>
<class 'int'>
<class 'float'>

In [10]:
S4 = '''Sipna
      College of                                        
      Engineering'''
print(S4)       # Multiline String With Triple double or single quotes

Sipna
      College of
      Engineering

In [12]:
S4 = """Sipna
      College of
      Engineering."""
print(S4)      # Multiline String With Triple double or single quotes

Sipna
      College of
      Engineering.

In [5]:
#Ex 1 : To Highlight specific word
S = "My 'name' is Ravi."
print(S)

#Ex 2 : Both single and double Quotes(Usinf escape sequeces \ )
S = 'It\'s called "Python" Language'
print(S)

My 'name' is Ravi.
It's called "Python" Language

In [6]:
name = 'Ram'
print('my name is',name)
print(f'my name is {name}')

my name is Ram
my name is Ram

In [12]:
x = 10
y = 20
print(f'Sum of {x} + {y} = {x+y}')
print(f'Sum of {x} + {y} = {x+y}')
print('Sum of',x,'+',y,'=',x+y)

Sum of 10 + 20 = 30
Sum of 10 + 20 = 30
Sum of 10 + 20 = 30

In [12]:
s1 = 'engineering'
print(s1[2:5])
print(s1[-2])
print(s1[-11])
print(s1[-9])

gin
n
e
g

In [13]:
S2 = 'Amravati'
print(len(S2))

8

In [14]:
S2 = 'Amravati'
S2[0]="a" # 'str' object does not support item assignment

TypeError: 'str' object does not support item assignment

In [15]:
#1. int() Examples
print("int() Examples")
print(int(10.6))
print(int("24"))
#print(int("24.3"))                           # invalid: String float to int ( uncomment to see error)
print()

int() Examples
10
24

In [16]:
#2 float() examples
print("Float() Examples:")
print(float(10))
print(float("22.4"))
print()

Float() Examples:
10.0
22.4

In [19]:
#3 complex() Examples
print("complex() examples:")
print(complex(2))
print(complex(2,3))
print(complex("4+5j"))

complex() examples:
(2+0j)
(2+3j)
(4+5j)

In [21]:
#4 bool() examples
print("bool() examples:")
print(bool(1))
print(bool(""))       # Empty is treated as a false
print(bool(0))
print(bool("Hello"))
print(bool([]))
print(bool([1,2,3]))
print()

bool() examples:
True
False
False
True
False
True

In [15]:
eid = eval(input("Enter Employee ID (EID):")) # eval()
ename = (input("Enter Employee Name (ENAME):"))
eadd = (input("Enter Employee Address (EADD):"))
esal = float(input("Enter Employee Salary (ESAL):"))
married = (input("Is the employee married? (yes/no):"))

print("--- Employee Details ---")
print("Employee ID :", eid)
print("Employee Name :", ename)
print("Employee Address :", eadd)
print("Employee Salary :", esal)
print("Married :", married)

Enter Employee ID (EID): 32265
Enter Employee Name (ENAME): nikhil
Enter Employee Address (EADD): ninghoy
Enter Employee Salary (ESAL): 85000000
Is the employee married? (yes/no): no

--- Employee Details ---
Employee ID : 32265
Employee Name : nikhil
Employee Address : ninghoy
Employee Salary : 85000000.0
Married : no

In [24]:
x= eval('10+20+30')
print(x)

60

In [23]:
n= eval(input('Enter list:'))
print(type(n))
print()

Enter list: 2

<class 'int'>

In [16]:
print(bool("Amravati"))               # non empty is treated as True

True